* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #feddef, #ff8734);
  }
  
  .calculator {
    width: 300px;
    margin: 50px auto;
    border-radius: 5px;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  #result {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    border: none;
    border-radius: 3px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  button {
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #d8d8d8;
  }
  
  .equal {
    background-color: #f67c92;
    color: #fff;
  }
  